body, html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-button{
    font-size: 16px;
    border-radius: 25px;
}

.login-input{
    border-radius: 25px;
}

.login-container {
    width: 300px;
    margin: auto;
}