<!DOCTYPE html>
<html>

  <head>
    <title> CREATE NEW STORY </title>
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>
    <div id="header">
        <h1>MetamorphoStory</h1>
    </div>
    <form>
        <button formaction="/profile">Profile</button>
        <button formaction="/logout" method="POST">Log Out</button>
    </form>

    <h2> Create new story </h2>

    <form action="", method = "POST">
      <label for="title"> Title: </label>
      <input type="text" name="title">
      <br>
      <label for="content"> Story content: </label>
      <br>
      <textarea name="content" cols="30" rows="10"></textarea>
      <br>
      <input id = "submit" type="submit" name="sub1" value="Create">
    </form>
    <br>
    <div id="footer">
        <h4>MetamorphoStory by Metamorphosis Stuyvesant HS @2022</h4>
    </div>
  </body>

</html>
