<!DOCTYPE html>
<html lang="en">
<head>
    <title>MetamorphoStory</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="header">
        <h1>MetamorphoStory</h1>
        <img src="../static/butterflies.gif" class="overlay">
    </div>

    <p> Welcome to MetamorphoStory, a collaborative storytelling website. Log in or sign up now to read and contribute to stories. Our tales await you.</p>
    {% if not_logged_in %}
        <h2> You are not logged in </h2>
    {% endif %}
    <form id = "frontForm">
        <button formaction="/login">Login</button>
        <br>
        <button formaction="/signup">Sign Up</button>
    </form>
    <div id="footer">
        <h4>MetamorphoStory by Metamorphosis Stuyvesant HS @2022</h4>
    </div>
</body>
</html>
