<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="header">
        <h1>Login</h1>
    </div>
    <form>
        <button class="home-button" formaction="/">home</button>
    </form>
    <div class="login-container">
        <form class="login-form" action="/profile" method="POST">
            Username:
            <input class="login-input" type="text" name="username" required>
            Password:
            <input class="login-input" type="password" name="password" required>
            <input class="login-input" id = "submit" type="submit" name="login">
            {% if error %}
            The wrong username or password was entered.
            {% endif %}
        </form>
        <form class="signup-form-login">
            Don't have an account?
            <button id="signup-login" formaction="/signup">Create an account</button>
        </form>
    </div>
    <div id="footer">
        <h4>MetamorphoStory by Metamorphosis Stuyvesant HS @2022</h4>
    </div>
</body>
</html>