<!DOCTYPE html>
<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1> MetamorphoStory</h1>

    <h2>
      Enter your username and password below to proceed.
    </h2>

    {% if has_error %}
    <h2> Error!</h2>
    <h2> {{ error }} </h2>
    {% endif %}

    <form action="/", method = "POST">
      <label for="username"> Username: </label>
      <input type="text" name="username">
      <br>
      <label for="username"> Password: </label>
      <input type="text" name="password">
      <br>
      <br>
      <input type="submit" name="sub1" value="Login">
    </form>
    <br>
    <a href="/register"> Register here! </a>
  </body>

</html>
