<!DOCTYPE html>
<html lang="en">
<head>
    <title>create</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <form>
        <button formaction="/profile">profile</button>
    </form>
    <form>
        <button formaction="/create">create a new story</button>
        <button formaction="/logout" method="POST">LOGOUT!</button>
        <br>
    </form>

    <a href="/story/story5"> story5 link</a>

    <form action='/story' class="story-cards" method="POST">
        {% for story in stories %}
        <button type="submit" name="{{story[0]}}" class="card">
            <div class="title">{{story[1]}}</div>
            <div class="creator">{{story[2]}}</div>
            <br>
        </button>
        {% endfor %}
    </form>
</body>